$primaryColor :rgba(49, 184, 67, 0.382);
$SecondaryColor :rgba(49, 184, 67, 0.792);
$hoverColor:  rgba(0, 0, 255, 0.268);
$textColor : rgb(0, 0, 0);

header {

    h1 {
        color: $SecondaryColor;
        margin: 40px;
        font-size: 40px;
        text-transform: uppercase;
    }

    a {
        color: $primaryColor; 
        text-decoration: none;
        margin: 20px;
    }

    .nav {
        color: $primaryColor;
        border-radius: 5px;
        padding: 10px;
        &:hover {
            color: $hoverColor;
        }
    }
}

.card {
    border-color: $primaryColor;
}

footer {
    background-color: $primaryColor;
}